-
	var advantages = [
		{
		title: 'Понятный интерфейс',
		text: 'Используем лучшие практики UI/UX и делаем Ваш продукт понятным пользователю.',
		},
		{
		title: 'Уникальность',
		text: 'Мы не делаем одинаковые проекты, потому что всегда используем уникальный подход.'
		},
		{
		title: "Никаких багов",
		text: 'Мы исправляем любые баги один раз и навсегда. Потому что никто их не любит.'
		},
		{
		title: "Софт работает стабильно",
		text: 'Даже в условиях гравитации и высокой перегружености серверов, все работает как часы.',
		},
		{
		title: "Тестирование на каждом этапе",
		text: 'Тестирование - ключ к успеху, и мы знаем это. Ни один наш проект не увидит свет без тщательного тестирования.'
		},
		{
		title: "Запуск вовремя",
		text: 'Реализуем все задачи с точностью до атомной секунды.',
		}
	];

.advantages
	.container-l
		//.advantages__inner-wrap
		.advantages__inner
			each item in advantages
				.advantages__item
					.advantage
						h4.advantage__head
							.advantage__head-icon
								+svgIcon('ok_outline')
							span=item.title

						p.advantage__text=item.text



