.footer
	.container-m
		.footer__inner
			.footer__top
				.footer__logo
					img(src="img/logo.png")
				.footer__nav
					a.footer__nav-item(href="#") О Нас
					a.footer__nav-item(href="#") Проекты
					a.footer__nav-item(href="#") Услуги
					a.footer__nav-item(href="#") Процесс
					a.footer__nav-item(href="#") Процесс
					a.footer__nav-item(href="#") Блог
					a.footer__nav-item(href="#") Контакты
				.footer__icons
					.footer__icon
						+svgIcon('bxl-behance')
					.footer__icon
						+svgIcon('bxl-dribbble')
					.footer__icon
						+svgIcon('facebook')
					.footer__icon
						+svgIcon('bxl-instagram')
			.footer__bottom
				span 2018. Все права защищены
