include ./_lastProjects

.hero(style='background-image: url(./img/hero-bgi.jpg);')
	.container-m
		.hero__inner
			h2.hero__title
				| Мы — компания полного цикла веб и мобильной разработки
			p.hero__text
				| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
			.hero__btn
				a.hero__btn-link(href='#') Написать нам !
			.hero__projects
				+lastProjects('white')
			.hero__footer
				.hero__footer-mouse
					+svgIcon('mouse')

