.procces-section
	.container-l
		.process-section__inner
			.process
				.process__item.active
					.process__side
						.process__icon
							include ../../img/analitic_process.svg
						.process__line
					.process__main
						.process__head.active
							span АНАЛИТИКА
							+svgIcon('drop_arrow')
						.process__body
							.process__info
								ul.process__points
									li.process__point
										+svgIcon('check_circle')
										span Анализ рынка
									li.process__point
										+svgIcon('check_circle')
										span Анализ рынка
									li.process__point
										+svgIcon('check_circle')
										span Анализ рынка
									li.process__point
										+svgIcon('check_circle')
										span Анализ рынка
									li.process__point
										+svgIcon('check_circle')
										span Анализ рынка
									li.process__point
										+svgIcon('check_circle')
										span Анализ рынка
								.process__team
									h4.process__team-title Команда
									.process__team-item Busines Analyst
									.process__team-item Project Manager
							.process__descr
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet architecto fugiat labore pariatur quam quis quos repellat unde voluptatem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque ea expedita laboriosam modi, molestias quod. Beatae cupiditate dolore eius explicabo iure magni praesentium soluta veniam. Earum id minus modi!



