extends ../../templates/_main


block body
	include ../../templates/blocks/_header

	include ../../templates/blocks/_hero
	.container-l
		.l-title Как мы строим наш процесс
	include ../../templates/blocks/_process
	.container-l
		.l-title Сервисы
		include ../../templates/blocks/_services
	.contaier-m
		.l-title Наши преимущества
	include ../../templates/blocks/_advantages
	.contaier-m
		.l-title Проекты
	include ../../templates/blocks/_projects
	.contaier-m
		.l-title Технологии которые мы используем
	include ../../templates/blocks/_tech
	.contaier-m
		.l-title Технологии которые мы используем
	include ../../templates/blocks/_table




	include ../../templates/blocks/_footer





